version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 20
    groups:
      aws-sdk:
        patterns:
          - "github.com/aws/aws-sdk-go-v2*"
        update-types:
          - "minor"
          - "patch"
      testing:
        patterns:
          - "github.com/stretchr/testify"
          - "*test*"
        update-types:
          - "minor"
          - "patch"
    commit-message:
      prefix: "maintain"
      prefix-development: "maintain"
      include: "scope"

  - package-ecosystem: "github-actions"
    directory: "/.github/workflows"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 20
    commit-message:
      prefix: "ci"
      prefix-development: "ci"
      include: "scope"

  - package-ecosystem: "npm"
    directory: "/docs/user"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 20
    commit-message:
      prefix: "docs"
      prefix-development: "docs"
      include: "scope"
